/* Variables */
:root {
  --main-color: #895b4a;
  --secondary-color: #3b2621;
  --text-color: #333333;
  --btn-radius: 5px;
}
/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.3;
  color: var(--text-color);
}
h1 {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 800;
}
h2 {
  font-size: 2.5rem;
  font-weight: 600;
}
a {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}
p {
  font-size: 1rem;
  padding-bottom: 10px;
}
/* Header */
.header {
  background-color: var(--main-color);
  height: 80px;
}
.header__flex {
  height: 100%;
  padding: 0 20px;
}
/* Footer */
.footer {
  height: 150px;
  background-color: var(--secondary-color);
}
.footer__flex {
  padding: 0 20px;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.menu_links {
  padding: 5px 10px;
  border-radius: var(--btn-radius);
  transition: all 0.3s ease;
}
.menu__link {
  padding: 5px 10px;
  border-radius: var(--btn-radius);
}
